*{
    font-family: Montserrat
}
    body{
    background-color :f0f0f0;
    font-family: Arial, sans-sefif;
    line-height: 1.7;
}

.bg-primary{
    background-color:#9550a2!important;
}


img{
    max-width:20%;
    height:auto;
}
.bg-secondary{
    background-color:#f0f0f0!important;
}
.progress{
    background-color: rgba(250, 255, 255,0.2);
    border-radius: 20px;
    overflow: hidden;
}